* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: lightgray;
  width: 100%;
}

nav {
  height: 40px;
  width: 100%;
  background-color: black;
}

.to-do-list-section {
  width: 35%;
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-top: 25%;
  background-color: white;
  border-style: ridge;
  padding: 15px;
}

.title {
  font-size: 20px;
}

.add-to-your-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-style: ridge;
  padding: 1rem;
  height: 3rem;
}

input {
  border: none;
  height: 30px;
  width: 80%;
  padding-left: 5px;
}

.label-text {
  width: 95%;
}

.label-text input {
  width: 95%;
}

.to-do-list-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 100%;
}

.check-box-and-task {
  list-style: none;
}

.check-box-and-task li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-style: ridge;
  padding: 1rem 1rem 1rem 1rem;
}

.task-item {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

span i {
  cursor: pointer;
}

span i:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.clear-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
  border-style: ridge;
  padding: 1rem;
  height: 3rem;
}

.clear-span {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

button {
  border: none;
  background-color: white;
}

button i:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.trash-btn {
  display: none;
  cursor: pointer;
}

.value-warning {
  color: red;
  display: none;
  padding-top: 2%;
}

.current-time {
  padding: 1.2rem 1.2rem 0 75%;
}

@media (max-width: 768px) {
  .to-do-list-section {
    width: 75%;
  }
}
